p{
  /*content - Width and Height */
width: 50%;

/* Border */

border: 2px solid blue;
/* Padding */
padding-left: 40px;

/* Margin */
/* margin: 100px; */
/* margin-top: 500px;*/
/* margin: 20px 40px 500px 100px; */
/* the sequence of these 4 element is: top right bottom left */
/* margin: 0 auto 0 auto; */
/* margin: 0 auto; */
margin: 50px 40px;
/* auto : center element by itself */
/* if write 2 parameter then it means first parameter for top and bottom,
the second one is for right and left */


  }
